<% form_for [@agenda, @agenda_item] do |f| %>
  <%= f.error_messages %>
  <p>
    <% f.label :date %><br />
    <% f.date_select :date %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.text_field :end_time %>
  </p>
  <p>
    <%= f.label :activity_name %><br />
    <%= f.text_field :activity_name %>
  </p>
  <p>
    <%= f.label :oic %><br />
    <%= f.text_field :oic %>
  </p>
  <%= f.hidden_field :agenda_id %>
  <p><%= f.submit "Submit" %></p>
<% end %>
