<% form_for @agenda do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
    <a id="date-pick" href="noJs.html" class="dp-applied">Select date</a>
  </p>
  <p>
    <%= f.label :uod %><br />
    <%= f.text_field :uod %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
