<% title "Agendas" %>

<div id="agenda">
<p class="date">
  <%=h @agenda.date.strftime('%d %b %y') %>
</p>


<ul id="activities">
  <li class="header">
    <span class="time">Time</span>
    <span class="duration">Duration</span>
    <span class="activity">Activity</span>
    <span class="oic">OIC</span>
  </li>
  <%= render :partial => @agenda_items %> 
</ul>
<p id="uod"><span>Uniform of the Day:</span><%= @agenda.uod %></p>

<p>
  <%= link_to "Change Agenda Properties", edit_agenda_path(@agenda) %> |
  <%= link_to "View All Agendas", agendas_path %> |
  <%= link_to "New Agenda Item", new_agenda_agenda_item_path(@agenda) %> | 
  <%= link_to "Show Agenda Items", agenda_agenda_items_path(@agenda) %> |
  <%= link_to "Create PDF", agenda_path(@agenda, :format => 'pdf') %>
</p>
</div>