<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application', "jquery-ui" %>
    <%= javascript_include_tag "jquery","date", "jquery-ui", "application" %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="user_nav">
        <% if current_user %>
          <%= link_to "Edit Profile", edit_user_path(:current) %>
          <%= link_to "Logout", logout_path %>
        <% else %>
          <%= link_to "Register", new_user_path %> |
          <%= link_to "Login", login_path %> 
        <% end %>
      </div>
      <% form_tag agendas_path, :method => 'get', :id => "agenda_search" do %>
        <p>
          <%= label_tag :search, "Search for specific activity" %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <div id="header">
        <% if current_user %>
          <%= image_tag(current_user.logo.url) %>
        <% else %>
          <%= image_tag("command_patch.png") %>
        <% end %>
        <h2><%= @squadron_name || "Please edit your squadron name"%></h2>
        <address><%= @squadron_address || "Please edit your squadron address"%></address>
        <cite>“Lead from the Front”</cite>
      </div>
      
      <%= yield %>
    </div>
  </body>
</html>
